In [54]:
import pandas as pd

### Load data

In [55]:
df = pd.read_csv('data/personal_finance_employees_V1.csv')
print(f"Data shape: {df.shape}, Columns: {df.columns}, Data types: {df.dtypes}")

Data shape: (50, 13), Columns: Index(['Employee', 'Monthly Income (£)', 'Electricity Bill (£)',
       'Gas Bill (£)', 'Netflix (£)', 'Amazon Prime (£)', 'Groceries (£)',
       'Transportation (£)', 'Water Bill (£)', 'Sky Sports (£)',
       'Other Expenses (£)', 'Savings for Property (£)', 'Monthly Outing (£)'],
      dtype='object'), Data types: Employee                     object
Monthly Income (£)          float64
Electricity Bill (£)        float64
Gas Bill (£)                float64
Netflix (£)                   int64
Amazon Prime (£)            float64
Groceries (£)               float64
Transportation (£)          float64
Water Bill (£)              float64
Sky Sports (£)              float64
Other Expenses (£)          float64
Savings for Property (£)    float64
Monthly Outing (£)          float64
dtype: object

### Change Data Type from Netflix to float

In [56]:
df['Netflix (£)'] = df['Netflix (£)'].astype(float)

### Check for missing values

In [57]:
df.isna().sum().sum()

107

### Fill required missing values eg. Water Bill

In [58]:
avg_water_bill = df['Water Bill (£)'].mean()
print(f"Average water bill: {avg_water_bill}")
df['Water Bill (£)'] = df['Water Bill (£)'].fillna(avg_water_bill)
df['Water Bill (£)'].head()

Average water bill: 40.0

0    40.0
1    40.0
2    40.0
3    40.0
4    40.0
Name: Water Bill (£), dtype: float64

### Fill the Missing Values in the Streaming Services and other Expenses with 0

In [59]:
df.fillna(0, inplace=True)
## Check if all missing values are filled
df.isna().sum().sum()

0

### Save the cleaned data

In [60]:
df.to_csv('data/personal_finance_employees_V2.csv', index=False)